target
build
.svelte-kit
package

.env
.env.*
!.env.example

.DS_Store
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/keys/*
!/keys/make.sh

# kursal-cli
kursal-cli/relay.toml
kursal-cli/relay_identity.key

# kursal-tauri
kursal-tauri/src-tauri/gen/schemas
kursal-tauri/src-tauri/gen/android/keystore.properties
kursal-tauri/src_backup

# temporary
CLAUDE.md
.claude/
docs/